table{
    background-color: rgba(216, 216, 211, 0.795);
    font-size: xx-large;
    
    
}
div{
    text-align: center;
    text-size-adjust: inherit;
}
table tr td img{
    height:200px;
    width:200px;

}
.main{
    font-size: xx-large;
}
