
  
<div class="main">
<h1 align="center">YuMMie$</h1>

<div>
  <h2> Description:</h2>
  <p align="center"><strong> YuMMie$ food delivery is a courier service in which a restaurant,
     store, or independent food-delivery company delivers food to a customer. 
     An order is typically made either through a restaurant  or website,
      or through a food ordering company.
      Recently, online food delivery through third-party companies have become a growing industry and caused a 
      "delivery revolution. Nascent technologies,
       such as autonomous
vehicles have also been used to complete deliveries.</strong></p>
    <h2> Service:</h2><p align="center"><strong> A meal delivery service (MDS) is a service that sends customers fresh or frozen,
         prepared meals delivered to their homes and offices.
          These services individually package pre-portioned meals to assist with eating a healthy diet. 
          These services cook and prepare meals for customers.
Meals may come in small tupperware containers and are often labeled with nutritional information. 
          There are also many options for specific diet types like vegetarian and vegan.
        These services often operate on a subscription business model rather than by individual order as in pizza delivery or 
        with the broader category of online food ordering.</strong></p>
<p align="center"><strong><i> <h3>you deserve it !! see you again!!</h3> 
    </i></strong></p></div>   
  </div> 
  