<div class="main">
    <h1 >Customer Register</h1>
    <table align="center">
        <tr>
            <td class="label">FirstName</td>
            <td>
                <input type="text" [(ngModel)]="firstName">
            </td>
        </tr>
        <tr>
            <td class="label">LastName</td>
            <td>
                <input type="text" [(ngModel)]="lastName">
            </td>
        </tr>
        <tr>
            <td class="label">Email</td>
            <td>
                <input type="text" [(ngModel)]="email">
            </td>
        </tr>
        <tr>
            <td class="label">DOB</td>
            <td>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="setDOB($event)"
                    >
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                  </mat-form-field>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="information">
                Date should be yyyy-mm-dd Format
            </td>
        </tr>
        <tr>
            <td class="label">Gender</td>
            <td>
                <select [ngModel]="gender" class="box">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </td>
        </tr>

        <tr>
            <td class="label">Phone</td>
            <td>
                <input type="text" [(ngModel)]="phone">
            </td>
        </tr>

        <tr>
            <td class="label">District</td>
            <td>
                <input type="text" [(ngModel)]="district">
            </td>
        </tr>

        <tr>
            <td class="label">ZipCode</td>
            <td>
                <input type="text" [(ngModel)]="zipcode">
            </td>
        </tr>

        <tr>
            <td class="label">state</td>
            <td>
                <input type="text" [(ngModel)]="state">
            </td>
        </tr>
        <tr>
            <td class="label">Password</td>
            <td>
                <input type="password" [(ngModel)]="password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="information">
                Password should contains 1 Uppercase, 1 Digit and should be 8 character long
            </td>
        </tr>
        <tr>
            <td class="submit">
                <button (click)="signup()" [disabled]="firstName === '' || lastName === '' || email === '' || password === ''">Signup</button>
            </td>
        </tr>
    </table>
</div>


